ul{
list-style-type: none;
}
th{
color: white;
background-color: darkblue;
padding: 10px;
}
td{
width: 100px;
height: 100px;
font-size: 1.5rem;
color: black;
}
.warning-icon {
    font-size: 1em;
    font-weight: bold;
}
